

  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>list</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>view_list</mat-icon>
          <span>All posts</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>history_edu</mat-icon>
          <span>Contribute</span>
        </button>
        <button mat-menu-item>
          <mat-icon>forum</mat-icon>
          <span>Feedback</span>
        </button>
      </mat-menu>
    <span><h1>Indiger</h1></span>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <input type="email" matInput placeholder="Search by date">
      </mat-form-field>
    </form>
    <span class="example-fill-remaining-space"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <span class="material-icons-outlined">
            notifications_active
            </span>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="sharemenu" aria-label="Example icon-button with a menu">
        <mat-icon>share</mat-icon>
      </button>
      <mat-menu #sharemenu="matMenu" color="primary">
        <button mat-menu-item>
          <mat-icon>insert_emoticon</mat-icon>
          <span>facebook</span>
        </button>
        <button mat-menu-item>
            <mat-icon>insert_emoticon</mat-icon>
          <span>twitter</span>
        </button>
        <button mat-menu-item>
            <mat-icon>insert_emoticon</mat-icon>
          <span>youtube</span>
        </button>
      </mat-menu>
  </mat-toolbar>
